spring:
  application:
    name: server
  profiles:
    active: dev
  jackson:
    default-property-inclusion: non-null
  config:
    import:
      - classpath:common/banner.yml
      - classpath:common/jasypt.yml
      - classpath:common/jpa.yml
      - classpath:common/hikari.yml
      - classpath:common/jwt.yml
      - classpath:common/security.yml
#      - classpath:smtp/smtp.yml
      - classpath:smtp/smtp-daum-smart-work.yml
      - classpath:datasource/h2.yml
      - classpath:datasource/supabase.yml
      - classpath:social/oauth2.yml
      - classpath:secret/secrets.yml

logging:
  level:
    root: INFO
    org.springframework: WARN
    com.korutil.server: DEBUG
    org.springframework.jdbc.core: DEBUG      # JDBC 로그 출력
    org.hibernate.SQL: DEBUG                  # Hibernate SQL 로그 출력
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # SQL 파라미터 바인딩 로그logging:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

variable:
  db-pool: main-${spring.application.name}-pool
  port:
    dev: 8080
    local: 8080
    stage: 8080
    prod: 80

base-url: http://localhost:8080
front-url: http://localhost:8080