springdoc:
  # default url:  http://localhost:8080/swagger-ui/index.html
  # 얘 없어도 잘 돌아감.
  swagger-ui:
    groups-order: DESC
    tags-sorter: alpha
    operations-sorter: method
    disable-swagger-default-url: true
    display-request-duration: true
    defaultModelsExpandDepth: 2
    defaultModelExpandDepth: 2
  cache:
    disabled: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
  model-and-view-allowed: true
  #  paths-to-match:
  #    - /api/v1/**
  packages-to-scan: "com.korutil.server.controller"